<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        The nexus of hardware enthusiasts, engineers and entrepreneurs.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Our community is meant to be a go-to space for sharing insights, 
        troubleshooting challenges and celebrating your creations.
        Here, we foster a collaborative environment where expertise meets curiosity, 
        and where ideas are forged into reality.
      </p>
    </div>
  </div>
</section>
