---
import {getTestimonialEntries} from '@/content/config'
import { ContentSchemaContainsSlugError } from 'astro/dist/core/errors/errors-data';
const testimonials = await getTestimonialEntries();
---
<div
  class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2">
  {testimonials.map((t) => <div class="flex flex-col justify-between h-full">
    <p class="text-[#ed642c]">
      {t.body}
    </p>
    <div class="mt-3">
      <span class="block font-semibold mt-3" set:text={t.data.author} />
      <span class="block text-eagle" set:html={t.data.byline} />
    </div>
  </div>)}
</div>
