---
import BaseLayout from "@/layouts/BaseLayout.astro";
---
<BaseLayout>
  <section class="border-white/20  border-b">
    <div class="mx-auto border-white/20  border-x max-w-7xl">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12">
        <div class="mx-auto max-w-7xl p-8">
          <p class="text-white font-display uppercase lg:text-6xl text-xl">
            404 : page not found
          </p>
        </div>
        <div class="mx-auto max-w-7xl p-8">
          <p class="text-white font-display uppercase lg:text-3xl">
            The page you are looking for doesn't exists or have moved.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
