---
import SideBarLinks from './SideBarLinks.astro';
---
<aside class="w-64 lg:pt-12 min-h-screen hidden lg:inline-block bg-white fixed" aria-label="Sidebar">
    <div class="px-3 overflow-y-none ">
       <SideBarLinks />
    </div>
 </aside>
 