---
import SideBarLinks from './SideBarLinks.astro';
---
<div class="lg:hidden text-center items-center flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">
  <a
          href=/wiki/m.index
          class="w-full bg-eagle duration-200 font-display hover:bg-black px-6 py-4 text-black hover:text-white text-center text-xs"
          >Resource Index   →</a
        >

</div> 